
@{
    ViewBag.Title = "AddPosition";
}

<div class="form-horizontal">
    <h2>Новая должность</h2>
    <hr>
    <div class="form-group">
        <div class="col-md-10">
                <form method="post" action="">
                    <input type="text" name="PositionName" class="input-group-text" style="margin: 4px 8px 10px 15px" required/>
                    <span class="label label-default">Должность</span></h1>
                    <div class="col-md-10">
                            <a href="/Home/Index" class="btn pull-left btn-secondary" style="margin: 10px; border-radius: 11px; background-color: darkgray; color: #fff">Закрыть</a>
                            <button type="submit" class="btn pull-left btn-primary" style="margin: 10px; border-radius: 11px;">Добавить</button>
                    </div>
                </form>
        </div>
    </div>
</div>
